/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;

  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.loginbutton {
  background-color:#09B1EC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginbutton:hover {
  opacity: 0.8;
}



/* Center the image and position the close button */
.loginimgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.loginavatar {
  width: 30%;
  border-radius: 60%;
}

.container {
  padding: 16px;
}


/* The Modal (background) */
.loginmodal {

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 20px;
  
}

/* Modal Content/Box */
.loginmodal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 25%;  /*Could be more or less, depending on screen size*/
  
}



/* The Close Button (x) */
.cross {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.cross:hover,
.cross:focus {
  color: red;
  cursor: pointer;
}


/* For Password Field eye-type icon */
.field-icon {
  float: right;
  margin-left: -25px;
  margin-right: 5px;
  margin-top: 25px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 375px) {
  span.psw {
     display: block;
     float: none;
  }
   
  .loginmodal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 160px;

  }
  
  /* Modal Content/Box */
  .loginmodal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%;  /*Could be more or less, depending on screen size*/
  }
}

/* For Icons to appear correctly*/
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 15px;
  background: #09B1EC;
  color: white;
  min-width: 50px;
  text-align: center;
}


.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid #09B1EC;
}
