{% extends 'Hospital/base.html'%}

{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<link href="{% static '/signupstyle.css' %}" rel="stylesheet">


<section id="bannerimage">
	<div class="container">
		<h1 class="title">Online Hospital Recommendation</h1>
		<p>We are here for your Care.</p>
		<p>Submit your Symptom and get Doctor's Help.</p>
		<a href="/"><button type="button" class="btn btn-success">Find Hospital</button></a>

		<!-- Signup Form  -->
		<div id="id02" class="signupmodal">

			<form class="signupmodal-content animate" action="/"  novalidate>



				<div class="imgcontainer">
					<span onclick="closeFunction()" class="cross" title="Close">&times;</span>
					<img src="{% static 'images/avatar.png' %}" alt="Avatar" class="avatar">
				</div>
                
                
                <div class="container">
                    <h2 class="text-center">Reset Complete</h2>
                    <p style="text-align: Justify; color: green;">Your password has been set. You may go ahead and log in now.</p>

					<button type="submit" class="signupbutton btn-lg btn-block">Ok</button>
				 
				</div>
			</form>
		</div>

	</div>
</section>




<!-- When User clicks anywhere outside of the modal -->
<script>
	// Get the modal
	var signup_modal = document.getElementById('id02');

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function (event) {
		if (event.target == signup_modal) {
			signup_modal.style.display = "none";
			window.location.href = "/";     //After clicking on anywhere outside redirect page to index.html i.e home page
		}
	}

</script>

<script>
	function closeFunction() {
		document.getElementById('id02').style.display = 'none'
		window.location.href = "/";     //After clicking on X  redirect page to index.html i.e home page
	}
</script>

{% endblock %}